/* 
Primary Colors:
#001242 - Oxford Blue
#F0F0C9 - Light Goldenrod Yellow

Fonts:
font-family: 'Lato', sans-serif; - Main font
font-family: 'Roboto', sans-serif; - Headings/Footer
*/

body {
    background-color: whitesmoke;
}

header, footer {
    background-color: #001242;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

/*HEADER*/

.logo-box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.fbicon {
    height: 30px;
    width: auto;
}

.twittericon {
    height: 30px;
    width: auto;
}

.logo {
    height: 80px;
    width: auto;
}

.moto p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: small;
}

.imgcontainer {
    align-self: flex-start;
}

.headings {
    align-self: flex-end;
    padding-bottom: 1.7rem;
}

.headings h1 {
    margin: 0;
    font-weight: 1000;
}

/*NAVIGATION*/

nav {
    margin: 0 auto;
    background-color: aliceblue;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
    color: white;
    background-color: #001242;
}



#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*FOOTER*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    color: #fbfbfb;
}