/* 
Primary Colors:
#001242 - Oxford Blue
#F0F0C9 - Light Goldenrod Yellow

Fonts:
font-family: 'Lato', sans-serif; - Main font
font-family: 'Roboto', sans-serif; - Headings/Footer
*/

body {
    background-color: #f8f8f0;
    margin: 0 auto;
    width: 100%;
}

header, footer {
    background-color: #001242;
    color: #F0F0C9;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
}

.logo {
    width: 150px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

nav {
	background-color: #001242;
    color: #F0F0C9;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    text-align: center;
}

.navigation li {
    display: block;
    flex: 1 1 auto;
}

.navigation li:first-child {
    display: block;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: black;
    background-color: #F0F0C9;
}

.active {
	background-color: #082b8d;
    border-radius: 10px;
}

.responsive li {
    display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fbfbfb;
}