@media only screen and (min-width: 46em) {
    


    /* Navigation */
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0 auto;
    }
    nav ul li {
        padding: .5rem 1rem;
        font-size: 1.8rem;

    }
    nav ul.hide {
        display: flex;
    }

    /* Main */
    main {
        display: grid;
    }

    .hero {
        grid-column: 1/4;
    }

    .news {
        grid-row-start: 2;
        grid-column: 1/4;
        margin-top: -1.5em;
    }

    .slbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-start: 3;
        grid-column: 1/4;
    }

    .sl3 {
        display: none;
    }

    .join1 {
        grid-row-start: 4;
        grid-column: 1/4;
    }

    .join2 {
        display: block;
        grid-column: 1/5;
        margin-bottom: 1.5em;
    }

    .join2 button {
        background-color: #fdbf5e;
        border: none;
        border-radius: 8px;
        padding: 1em;
        width: 100%;
        box-shadow: 2px 2px 2px 2px black;
    }

    .join2 button a {
        text-decoration: none;
        color: black;
        font-size: larger;
    }

    .join2 button a:hover {
        color: aliceblue;
    }

    .join2 button:hover {
        color: aliceblue;
        background-color: #092266;
    }

    .event {
        grid-row: 4/5;
        grid-column: 1/3;
        width: 90%;
    }

    .weather {
        grid-row: 4/5;
        grid-column: 3/4;
        width: 80%;
    }

    /* Footer */

    .contactInfo {
        display: grid;
        margin: 0 auto;
        padding: 1rem;
    }

    footer section img {
        grid-column: 1/2;
        padding: 5px;
    }

    #address {
        grid-column: 2/3;
        padding: 5px;
    }

    #contact {
        grid-column: 3/4;
        padding: 5px;
        justify-content: center;
    }

    footer img {
        width: 100px;
        height: auto;
    }

    footer {
        width: 100%;
        margin: 0 auto;
    }

    /* Discovery Page */
    
    .imgbox:hover {
        box-shadow: 0 0 50px #333;
    }
}