

/* Body */
body {
    background-color: #F9F7F4;
}

/* Header */
header, footer{
    padding: 1rem;
    display: flex;
}

.toplogo {
    grid-column: 1/2;
    padding: 1em;
}

.toplogo {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.socialbox {
    grid-column: 2/3;
    padding: 1em;
    
}

.socialbox {
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* Navigation */
nav ul.hide {
    display: none;
}

nav {
    background-color: #AD3D40;
    border-radius: 10px;
    max-width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fbfbfb;
    margin: 0 auto;
    padding: 0;
}

nav button {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    padding-bottom: .1em;
    color: #fbfbfb;
}

nav ul {
    padding: 0em 1em;
}

nav li {
    flex: 0 auto;
    list-style: none;
}

nav li:hover {
    background-color: #42581A;
}

.active {
    background-color: #F9F7F4;
}

.active a {
    color: black;
}

nav a {
    display: block;
    padding: .5em .5em .5em .5em;
    text-align: center;
    text-decoration: none;
    color: #fbfbfb;
}

nav button {
    margin: 0 auto;
    padding: .5em;
}

.hide {
    margin: 0 auto;
}

.hide li {
    padding: 0em 2em;
}

/* Main */

main {
    display: grid;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.hmain {
    display: grid;
}

a, p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Sorts Mill Goudy', serif;
}

.hero {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    background-color: #F9F7F4;
    grid-row: 1/2;
}

.heroimg {
    object-fit: cover;
    max-height: 300px;
}

.hero button {
    position: relative;
    top: -80px;
    background-color: #AD3D40;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.hero button a {
    text-decoration: none;
    color: #fbfbfb;
}

.hero button:hover {
    background-color: #42581A;
}

.hero button li {
    list-style: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 700;
    width: 80%;
}

.summaryinfo p a {
    text-decoration: none;
    color: #AD3D40;
    font-size: larger;
    font-weight: 700;
    font-family: 'Sorts Mill Goudy', serif;
}

.summaryinfo p a:hover {
    color: #42581A;
}

.summaryinfo, .weather {
    color: black;
}

.summaryinfo p {
    margin: 0 auto;
}

.summaryinfo img {
    opacity: .5 ;
    object-fit: cover;
    max-height: 500px;
}

.summaryinfo {
    width: 95%;
    grid-row: 2/3;
    position: relative;
    max-width: 500px;
}

.weather {
    width: 70%;
    grid-row: 3/4;
}

main section {
    margin: 8px auto;
    padding: 0px 5px;
    border-radius: 5px;
    width: 95%;
    text-align: center;
}

.forecast div {
    padding: 10px;
    border: #AD3D40 solid 5px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 600px;
}

.drinkbutton img {
    object-fit: cover;
    max-height: 500px;
    max-width: 500px;
}

.fresh2 {
    list-style: none;
    border: none;
    border-radius: 10px;
    background-color: #42581A;
    padding: 1em;
}

.fresh2 li a {
    text-decoration: none;
    color: white;
}

hr {
    border: 1px solid #AD3D40;
    width: 95%;
}

/* Footer */

footer {
    bottom: 0;
    color: white;
    flex-direction: column;
    text-align: center;
    background-color: #42581A;
}

.contactInfo {
    font-size: .8em;
}

.classInfo {
    font-size: .8em;
    display: flex;
    justify-content: center;
}

/* Fresh Page */
.fmain {
    margin: 0 auto;
    width: 90%;
}

fieldset {
    font-family: 'Sorts Mill Goudy', serif;
    border: none;
    margin-bottom: 1rem;
}

legend {
    font-size: 1.5rem;
    font-weight: 500;
}

textarea {
    margin: .5rem;
    width: 70%;
    padding: .5rem;
}

.info {
    display: block;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

input {
    min-width: 190px;
    padding: .5rem;
}

.fruitlist {
    display: flex;
    min-width: 210px;
    padding: .5rem;
    margin: .5rem;
}

#createmix {
    margin-left: .6rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    color: #fbfbfb;
    font-weight: 600;
    background-color: #AD3D40;
}

#createmix:hover {
    background-color: #42581A;
}

.info input {
    margin-left: 1em;
}

/* About Page */
.amain {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
}

.amain h2 {
    text-align: center;
}

iframe {
    width: 95%;
    height: 15rem;
    padding: 1em;
}